VITE_SUPABASE_URL=https://ilokdhwzgflgfiuikyte.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlsb2tkaHd6Z2ZsZ2ZpdWlreXRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk2NDE0ODUsImV4cCI6MjA4NTIxNzQ4NX0.mvM1V-9LOm7QcuTgwBWdNglIfXTNn-vdrHxuu-nzUn4
